.colorPallete {
  color: #B7B7B7;
  background-color: #CEB7B3;
}

.App {
  background: #B7B7B7;
  height: 200vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}